<p>
  <strong>Device:</strong>
  <%= @device.name %>
</p></br>
<p>
  <strong>URI Address:</strong>
  <%= @device.uri_address %>
</p>
<p>
  <strong>Plants monitored by this device</strong>
  <%= @device.plants.each do |plant| %>
    <%= plant.name %>
  <% end %>
</p>

<%= link_to 'Back', devices_path %>