<h1>Change schedule for plant</h1>
<%= form_with scope: :schedule, url: plant_schedules_path, local: true do |schedule| %>
  <%= schedule.label :watering %>
  <%= schedule.check_box :watering %></br>

  <%= schedule.label :interval %>
  <%= schedule.number_field :interval %> h</br>

  <%= schedule.submit %>
<% end %>

<%= link_to 'Back', plants_path %>
