<h1>Edit plant</h1>

<%= form_with(model: @plant, local: true) do |form| %>
  <p class="form-group">
    <% if @plant.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@plant.errors.count, "error") %> prohibited
          this plant from being saved:
        </h2>
        <ul>
          <% @plant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :name, style: "font-size: x-large; color: darkblue" %><br>
      <%= form.text_field :name %>
    </p>

    <p>
      <%= form.label :photos, style: "font-size: x-large; color: darkblue" %><br>
      <%= form.file_field :photos, multiple: true, style: "color:white" ,class:"btn btn-primary"  %>
    </p>

    <p>
      <%= form.submit "Update Plant", style: "color:white" ,class:"btn btn-primary" %>
    </p>
  </div>
<% end %>

<button class="btn btn-secondary"><%= link_to 'Back', plants_path, style: "color:white"   %></button>