<h1>Plants!</h1>
<p>List of plants, choose which one you want to check</p>
<% @plants.each do |t| %>
  <p><%= t.name %>   <%= link_to 'Show', plant_path(t.id) %></p>
  <p><%= t.name %>   <%= link_to 'Rename', edit_plant_path(t.id) %></p>
  <td><%= link_to 'Destroy', plant_path(t.id),
                  method: :delete,
                  data: { confirm: 'Confirm removal of this plant' } %></td>
<% end %>

<!--dobrze by bylo pogrupowac je po urzadzeniach albo w ogole wywalic index-->



<%= link_to 'Dodaj roslinke', new_plant_path %> <!-- to tez mozna przerzucic chyba do widoku poszczegolnego urzadzenie -->