<h1>Add new plant if you wish</h1>

<%= form_with scope: :plant, url: plants_path, local: true do |form| %>

  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plant.errors.count, "error") %> prohibited
        this plant from being saved:
      </h2>
      <ul>
        <% @plant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :device_id %><br>
    <%= form.select :device_id, options_for_select(Device.where(user_id: current_user.id).collect { | device| [device.name, device.id] }, @device), {}, {} %>
  </p>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', plants_path %>