<p>
  <strong>Name of monitored plant:</strong>
  <%= @plant.name %>
</p>
<% if @plant.schedule&.watering %>
  <p>
    <strong>Watering schedule interval:</strong>
    <%= @plant.schedule.interval %>
  </p>
<% end %>
<% if @plant.setting&.single_watering_amount %>
  <p>
    <strong>Amount of water per single watering:</strong>
    <%= @plant.setting.single_watering_amount %>
  </p>
<% end %>

<% @plant.photos.each do |photo| %>
  <%= image_tag photo, width:300, height:300  %>
<% end %><br>


<button class="btn btn-secondary"><%= link_to 'Back', plants_path, style: "color:white"   %></button>